@media (min-width: 320px) and (max-width: 360px) {
}

@media (min-width: 360px) and (max-width: 480px) {
}

@media (max-width: 480px) {
  /* .desktop-hidden {
    display: block !important;
  } */

  .mobile-hidden {
    display: none !important;
  }

  .container {
    --container-width: 1200px;
    --container-padding: 16px;

    /* width: 100vw; */
    max-width: 480px;
    min-width: 320px;
    /* padding-inline: 16px; */
  }

  section {
    --section-padding: 40px;
  }

  h2[class$="title"] {
    font-size: 32px;
    line-height: 40px;
  }

  h3[class$="title"] {
    font-size: 24px;
    line-height: 28px;
  }

  /* HEADER */
  .header {
    padding-block: 16px;

    background-color: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur(15px);
  }

  .header .container {
    flex-wrap: wrap;
    gap: 28px;
  }

  .header__menu {
    order: 3;
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 3;
  }

  .header__list {
    flex-direction: column;
    align-items: end;
    gap: 32px;
  }

  .header__item.header__submenu {
    position: relative;
    width: 100%;
  }

  /* .header__submenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
  } */

  .header__submenu-list {
    position: absolute;
    top: 20px;
    right: 0;
    /* left: 0; */
    padding: 10px;
    padding-right: 0;
  }

  .header__link {
    padding: 0;

    flex-direction: row-reverse;

    border: 0;
  }

  /* BANNER */
  .banner {
    padding: 24px 0 40px;
  }

  .banner .container {
    flex-direction: column;

  }

  .banner__body {
    gap: 16px;

    flex: 1 0 auto;

    border: 0;
  }

  .banner__title {
    font-size: 32px;
    line-height: 40px;
  }

  .banner__description {
    padding-bottom: 8px;
  }

  .banner__footer {
    padding-top: 8px;
    flex-direction: column;
    align-items: center;
  }

  .banner__footer .button {
    width: 100%;
    justify-content: center;
  }

  .banner-image {
    width: 100%;
  }

  /* LEAD */
  .lead {
    padding-bottom: 56px;
  }

  h2.lead__title::before, 
  h2.lead__title::after {
    content: none;
  }

  .lead__body {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    gap: 40px;
  }

  .lead__content {
    gap: 16px;
  }

  .lead__content:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .lead__content:last-child {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .lead__image {
    margin: 0 16px;
  }

  .lead__image:first-child {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .lead__image:last-child {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .lead__image:nth-child(3)::before {
    top: -16px;
    left: -16px;
  }

  .lead__image:nth-child(2)::after {
    bottom: -16px;
    right: -16px;
  }

  .lead__image:nth-child(2)::before {
    content: "";
    top: -16px;
    left: -16px;
  }
  
  div.lead__image:nth-child(3)::after {
    content: "";
    bottom: -16px;
    right: -16px;
  }

  /* SERVICES */
  .services__title {
    padding-bottom: 24px;
  }

  .services__body {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .services__support-title {
    padding-bottom: 16px;

    font-family: "Montserrat SemiBold";
  }

  .services__support{
    background-position-x: 70%;
    background-position-y: 60%;
  }

  .services__card {
    gap: 12px;
  }

  .services__card-price {
    padding-bottom: 12px;

    font-size: 24px;
    line-height: 28px;
  }
  .services__card-list {
    order: 3;
  }

  /* REVIEWS */
  .reviews__title {
    margin-bottom: 24px;
  }

  .reviews__card {
    padding: 24px 42px;
  }
  .reviews__card-header {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .reviews__card-link {
    order: 4;
  }

  .reviews__swiper {
    padding-inline: 0;
    overflow: visible;

    --swiper-navigation-size: 31px;
  }

  .reviews .swiper-button-prev {
    top: -44px;
    right: 59px;
    left: auto;
  }

  .reviews .swiper-button-next {
    top: -44px;
    right: 5px;
  }

  /* MODAL */
  .modal-content .contacts-container {
    min-width: 250px;
    padding-inline: 16px;
  }
}