/*  portrait table */
@media (min-width: 641px) and (max-width: 960px) {
  /* .desktop-hidden {
    display: none !important;
  } */

  .table-hidden {
    display: none;
  }

  section {
    padding: 44px 0;
  }

  /* BANNER */
  .banner .container {
    gap: 20px;
  }

  .banner__body {
    flex: auto;
    gap: 24px;
  }

  .banner__title {
    font-size: clamp(40px, 6vw, 56px);
    line-height: 1.15;
  }

  .banner__footer {
    flex-direction: column;
  }

  .banner__footer-button {
    justify-content: center;
  }

  .banner__swiper {
    flex: auto;
  }

  /* LEAD */
  .lead__body {
    row-gap: 40px;
  }

  /* SERVICES */
  .services__body {
    gap: 24px;
  }

  .services__card-title, 
  .services__card-price {
    font-size: 24px;
    line-height: 1.15;
  }

  .services__support {
    background-position-x: 70%;
    background-position-y: 50%;
  }

  /* PROJECTS */
  .projects__swiper {
    display: none;
  }

  .projects__item-title {
    padding-top: 24px;
    padding-bottom: 16px;
    font-family: "Tenor Sans";
    font-size: 24px;
  }

  .projects__images {
    width: 100%;
    overflow-x: auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
  }

  .projects__image {
    max-width: 500px;
    min-width: 400px;
    width: 50%;
    aspect-ratio: 1;

    flex-grow: 2;

    overflow: hidden;
    border-radius: 12px;
  }

  .projects__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .projects__mobile  {
    display: flex;
    flex-direction: column;
  }

  .projects__button {
    width: max-content;
    align-self: center;
  }

  /* CONTACTS */
  .contacts__title {
    margin-bottom: 24px;
  }

  .contacts__container {
    flex-direction: column;
  }

  .contacts__support {
    width: 100%;

    gap: 24px;

    order: 1;
  }

  .contacts__form {
    gap: 12px;
  }

  .contacts__input {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .contacts__card {
    width: max-content;

    order: 2;
  }

  .contacts__card-list {
    gap: 16px;
    padding-bottom: 0;
  }

  .contacts__socials-list {
    padding-bottom: 0;
  }

  .contacts__button {
    /* width: 100%; */
    margin-top: 4px;
  }

  /* REVIEWS */
  .reviews__card-title {
    font-size: clamp(24px, 3vw, 32px);
    line-height: 32px;
  }

  .reviews__card-rating {
    height: 32px;

    align-self: start;
  }

  .reviews__card-rating svg {
    width: 20px;
    height: 20px;
  }

  /* FAQ */
  .faq__item-description {
    padding-left: 12px;
  }

  /* BLOG */
  .blog__cards {
    gap: 24px;
  }
}
