/*  portrait table */
@media (min-width: 641px) and (max-width: 960px) {
  /* .desktop-hidden {
    display: none !important;
  } */

  .table-hidden {
    display: none;
  }

  section {
    padding: 44px 0;
  }

  
}