.lead__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 40px;
  row-gap: 60px;
}

.lead__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.lead__content:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}

.lead__content:last-child {
  grid-column: 1/3;
  grid-row: 3/4;
}

.lead__image {
  position: relative;
}

.lead__image img {
  width: 100%;
  aspect-ratio: 1;

  object-position: center bottom;
  object-fit: cover;
}

.lead__image:nth-child(1) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.lead__image:nth-child(2) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.lead__image:nth-child(1)::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;

  width: 52px;
  height: 52px;
  border-bottom-right-radius: 12px;
  border-bottom: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
}

.lead__image:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;

  width: 52px;
  height: 52px;

  border-top-left-radius: 12px;
  border-top: 1px solid var(--color-accent);
  border-left: 1px solid var(--color-accent);
}

.lead__title {
  position: relative;

  font-size: 52px;
  line-height: 64px;
  font-family: "Tenor Sans";
}

h2.lead__title::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  color: transparent;

  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

h2.lead__title::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;

  color: transparent;
  background-image: linear-gradient(180deg, rgba(0,0,0, 0.25), var(--color-light));
  /* text-shadow: 0 -5px 4px rgba(0, 0, 0, 0.25); */

  background-clip: text;
  -webkit-background-clip: text;
}

.lead__description {
  max-width: 650px;
}

.lead__body .lead__description:last-child {
  max-width: 700px;
}

.lead__description::first-letter {
  text-transform: uppercase;
}