* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  background-color: var(--color-dark);

  font-family: "Montserrat Regular";
  font-size: var(--font-regular-size);
  line-height: var(--font-regular-line-height);

  color: var(--color-light);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: var(--letter-spacing);
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

a {
  color: inherit;
  text-decoration: none;
  letter-spacing: var(--letter-spacing);
}

a:hover {
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;

  letter-spacing: var(--letter-spacing);
}

span {
  letter-spacing: var(--letter-spacing);
}

img {
  pointer-events: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: var(--container-padding);
}

section {
  padding-block: var(--section-padding);
}

.hide, .hide * {
  display: none;
  /* visibility: hidden; */
  /* max-height: 0; */
  /* opacity: 0; */
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.button {
  padding: 12px 20px;
  box-sizing: border-box;

  font-family: "Montserrat Bold";
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
  background-color: var(--color-accent);
  white-space: nowrap;

  border: 1px solid var(--color-accent);
  border-radius: 100px;
}

.button>span::first-letter {
  text-transform: uppercase;
}

.button::first-letter {
  text-transform: uppercase;
}

.button-transparent {
  background-color: transparent;
  color: var(--color-light);
}

.button-transparent svg {
  fill: var(--color-light);
}

.button:hover {
  background-color: var(--color-light);
  border-color: var(--color-light);
}

.button-transparent:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
  border-color: var(--color-light);
}

.button-transparent:hover svg {
  fill: var(--color-dark);
}

.swiper-controls {
  position: relative;
  height: 48px;
  padding: 12px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  border-radius: 100px;
  background-color: rgba(34, 34, 34, 0.6);
  backdrop-filter: blur(30px);
}

.swiper-controls .swiper-button-prev,
.swiper-controls .swiper-button-next {
  position: static;

  margin-top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  color: var(--color-light);
  border-radius: 50%;
}

.swiper-pagination {
  position: static;

  display: flex;
  align-items: center;

  flex: 1;
}

.rotate-180 {
  rotate: 180deg;
  transition: rotate 0.2s;
}

.fancybox__slide {
  padding: 48px 16px 16px 16px !important;
}

.fancybox__content {
  padding: 0 !important;

  border-radius: var(--border-radius);
}

.fancybox__content > .contacts__support {
  width: 100%;
  max-width: 760px;

  border-radius: 24px;
}

.fancybox__content > .services__support {
  width: 760px;
  max-width: 760px;

  border-radius: 24px;
  color: var(--color-light);
}

[id^="modal-projects__slideshow"] {
  max-width: 900px;
}

.fancybox__content > .projects__slideshow {
  max-width: 900px;
}

